#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.btn-submit{
  color: #FFFFFF;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 1rem;
  background: #4A8AB3;
  margin-top: 3rem;
}

.btn-submit:hover {
  color: #FFFFFF;
  background: #56ACFF;
}

.form{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 25rem;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.55);
  border-radius: 1rem;
}
.text-input {
  color: #4A8AB3;
  padding: .5rem;
  font-size: 1rem;
  border-radius: .5rem;
  border: hidden;
  box-shadow: 0px 0px 5px rgba(66,66,66,.68);
  text-shadow: 0px 0px 5px rgba(66,66,66,.44);
  margin-top: 1.5rem;
}
.text-input:focus {
  outline:none;
}